@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(input: Input)

@()
@Fieldset(FieldsetParams(
  legend =
    Some(
      Legend(
        content = Text("What is your address?"),
        classes = "govuk-fieldset__legend--xl",
        isPageHeading = true
      )),
  html = html
))

@html = {
  @input(InputParams(
    id = "address-line-1",
    name = "address-line-1",
    labelParams = LabelParams(content = HtmlContent("""Building and street <span class="govuk-visually-hidden">line 1 of 2</span>"""))
  ))
  @input(InputParams(
    id = "address-line-2",
    name = "address-line-2",
    labelParams = LabelParams(content = HtmlContent("""<span class="govuk-visually-hidden">Building and street line 2 of 2</span>"""))
  ))
  @input(InputParams(
    id = "address-town",
    name = "address-town",
    classes = "govuk-!-width-two-thirds",
    labelParams = LabelParams(content = Text("Town or city"))
  ))
  @input(InputParams(
    id = "address-county",
    name = "address-county",
    classes = "govuk-!-width-two-thirds",
    labelParams = LabelParams(content = Text("County"))
  ))
  @input(InputParams(
    id = "address-postcode",
    name = "address-postcode",
    classes = "govuk-input--width-10",
    labelParams = LabelParams(content = Text("Postcode"))
  ))
}
