@import uk.gov.hmrc.govukfrontend.views.html.components._



@()
@govukCheckboxes(Checkboxes(
  idPrefix = Some("nationality"),
  name = "nationality",
  fieldset = Some(Fieldset(
    legend = Some(
      Legend(
        content = Text("What is your nationality?"),
        isPageHeading = true,
        classes = "govuk-fieldset__legend--xl"
      )
    )
  )),
  hint = Some(Hint(content = Text("If you have dual nationality, select all options that are relevant to you."))),
  errorMessage = Some(ErrorMessage(content = Text("Select if you are British, Irish or a citizen of a different country"))),
  items = Seq(
    CheckboxItem(
      value = "british",
      content = Text("British")
    ),
    CheckboxItem(
      value = "irish",
      content = Text("Irish")
    ),
    CheckboxItem(
      value = "other",
      content = Text("Citizen of another country")
    )
  )
))
