@import uk.gov.hmrc.govukfrontend.views.html.components._



@()
@GovukRadios(Radios(
  idPrefix = Some("how-contacted-conditional"),
  name = "how-contacted",
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      content = Text("How would you prefer to be contacted?"),
      isPageHeading = true,
      classes = "govuk-fieldset__legend--xl"
    ))
  )),
  hint = Some(Hint(
    content = Text("Select one option.")
  )),
  items = Seq(
    RadioItem(value = Some("email"), content = Text("Email"), conditionalHtml = Some(emailHtml)),
    RadioItem(value = Some("phone"), content = Text("Phone"), conditionalHtml = Some(phoneHtml)),
    RadioItem(value = Some("text"), content = Text("Text message"), conditionalHtml = Some(textHtml))
  )
))

@emailHtml = {
  @govukInput(Input(
    id = "contact-by-email",
    name = "contact-by-email",
    inputType = "email",
    classes = "govuk-!-width-one-third",
    label = Label(
      content = Text("Email address")
    ),
    attributes = Map("spellcheck" -> "false")
  ))
}

@phoneHtml = {
  @govukInput(Input(
    id = "contact-by-phone",
    name = "contact-by-phone",
    inputType = "tel",
    classes = "govuk-!-width-one-third",
    label = Label(
      content = Text("Phone number")
    )
  ))
}

@textHtml = {
  @govukInput(Input(
    id = "contact-by-text",
    name = "contact-by-text",
    inputType = "tel",
    classes = "govuk-!-width-one-third",
    label = Label(
      content = Text("Mobile phone number")
    )
  ))
}
