@import uk.gov.hmrc.govukfrontend.views.html.components._



@()
@GovukRadios(Radios(
  idPrefix = Some("where-do-you-live"),
  name = "where-do-you-live",
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      content = Text("Where do you live?"),
      isPageHeading = true,
      classes = "govuk-fieldset__legend--xl"
    ))
  )),
  items = Seq(
    RadioItem(value = Some("england"), content = Text("England")),
    RadioItem(value = Some("scotland"), content = Text("Scotland")),
    RadioItem(value = Some("wales"), content = Text("Wales")),
    RadioItem(value = Some("northern-ireland"), content = Text("Northern Ireland")),
    RadioItem(divider = Some("or")),
    RadioItem(value = Some("abroad"), content = Text("I am a British citizen living abroad"))
  )
))
