@import uk.gov.hmrc.govukfrontend.views.html.components._



@()
@GovukRadios(Radios(
  classes = "govuk-radios--small",
  idPrefix = Some("changed-name"),
  name = "changed-name",
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      content = Text("Filter"),
      isPageHeading = true,
      classes = "govuk-fieldset__legend--m"
    ))
  )),
  items = Seq(
    RadioItem(
      value = Some("month"),
      content = Text("Monthly")
    ),
    RadioItem(
      value = Some("year"),
      content = Text("Yearly")
    )
  )
))
