@* The Design System Nunjucks example uses blocks from govukTemplate but strips out other HTML elements
so we cannot cleanly reproduce it in Twirl *@
@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(
  govukBackLink: GovukBackLink,
  govukButton: GovukButton,
  govukDateInput: GovukDateInput,
  govukErrorSummary: GovukErrorSummary
)

@(beforeContent: Option[Html] = None, content: Option[Html] = None)
<div class="govuk-width-container">
  @beforeContentBlock
  <main class="govuk-main-wrapper " id="main-content" role="main">
    @contentBlock
  </main>
</div>

@contentBlock = {
  @content.getOrElse {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>
          @govukErrorSummary(ErrorSummary(
            title = Text("There is a problem"),
            errorList = Seq(
              ErrorLink(
                content = Text("Passport issue date must include a year"),
                href = Some("#passport-issued-year")
              )
            )
          ))

          @govukDateInput(DateInput(
            fieldset = Some(Fieldset(
              legend = Some(Legend(
                isPageHeading = true,
                content = Text("When was your passport issued?"),
                classes = "govuk-fieldset__legend--xl"
              ))
            )),
            id = Some("passport-issued"),
            errorMessage = Some(ErrorMessage(
              content = Text("Passport issue date must include a year")
            )),
            items = Some(Seq(
              InputItem(name = "day", classes = "govuk-input--width-2", value = Some("5")),
              InputItem(name = "month", classes = "govuk-input--width-2", value = Some("12")),
              InputItem(name = "year", classes = "govuk-input--width-4 govuk-input--error")
            ))
          ))

          @govukButton(Button(content = Text("Continue")))
        </form>
      </div>
    </div>
  }
}

@beforeContentBlock = {@beforeContent.getOrElse {@govukBackLink(BackLink(content = Text("Back")))}}

