@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukDateInput: GovukDateInput)

@()
@GovukErrorSummary(ErrorSummary(
  title = Text("There is a problem"),
  errorList =
    Seq(
      ErrorLink(
        href = Some("#passport-issued-year"),
        content = Text("Passport issue date must include a year")
      )
    )
))

@govukDateInput(DateInput(
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      isPageHeading = true,
      content = Text("When was your passport issued?"),
      classes = "govuk-fieldset__legend--xl"
    ))
  )),
  id = Some("passport-issued"),
  errorMessage = Some(ErrorMessage(
    content = Text("Passport issue date must include a year")
  )),
  items = Some(Seq(
    InputItem(name = "day", classes = "govuk-input--width-2", value = Some("5")),
    InputItem(name = "month", classes = "govuk-input--width-2", value = Some("12")),
    InputItem(name = "year", classes = "govuk-input--width-4 govuk-input--error")
  ))
))
