@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukInput: GovukInput, govukErrorSummary: GovukErrorSummary)

@()
@govukErrorSummary(ErrorSummary(
  errorList =
    Seq(
      ErrorLink(
        href = Some("#name"),
        content = Text("Enter your full name")
      )
    ),
  title = Text("There is a problem")
))

<h1 class="govuk-heading-xl">Your details</h1>

@govukInput(Input(
  label = Label(
    content = Text("Full name")
  ),
  id = "name",
  name = "name",
  errorMessage = Some(ErrorMessage(
    content = Text("Enter your full name")
  ))
))
