@import uk.gov.hmrc.govukfrontend.views.html.components._

@this()

@()
@GovukInput(Input(
  id = "full",
  name = "full",
  classes = "govuk-!-width-full",
  label = Label(
    content = Text("Full width")
  )
))
@GovukInput(Input(
  id = "three-quarters",
  name = "three-quarters",
  classes = "govuk-!-width-three-quarters",
  label = Label(
    content = Text("Three-quarters width")
  )
))
@GovukInput(Input(
  id = "two-thirds",
  name = "two-thirds",
  classes = "govuk-!-width-two-thirds",
  label = Label(
    content = Text("Two-thirds width")
  )
))
@GovukInput(Input(
  id = "one-half",
  name = "one-half",
  classes = "govuk-!-width-one-half",
  label = Label(
    content = Text("One-half width")
  )
))
@GovukInput(Input(
  id = "one-third",
  name = "one-third",
  classes = "govuk-!-width-one-third",
  label = Label(
    content = Text("One-third width")
  )
))
@GovukInput(Input(
  id = "one-quarter",
  name = "one-quarter",
  classes = "govuk-!-width-one-quarter",
  label = Label(
    content = Text("One-quarter width")
  )
))
