@import uk.gov.hmrc.govukfrontend.views.html.components._

@this()

@()
@GovukInput(Input(
  id = "width-20",
  name = "width-20",
  classes = "govuk-input--width-20",
  label = Label(
    content = Text("20 character width")
  )
))
@GovukInput(Input(
  id = "width-10",
  name = "width-10",
  classes = "govuk-input--width-10",
  label = Label(
    content = Text("10 character width")
  )
))
@GovukInput(Input(
  id = "width-5",
  name = "width-5",
  classes = "govuk-input--width-5",
  label = Label(
    content = Text("5 character width")
  )
))
@GovukInput(Input(
  id = "width-4",
  name = "width-4",
  classes = "govuk-input--width-4",
  label = Label(
    content = Text("4 character width")
  )
))
@GovukInput(Input(
  id = "width-3",
  name = "width-3",
  classes = "govuk-input--width-3",
  label = Label(
    content = Text("3 character width")
  )
))
@GovukInput(Input(
  id = "width-2",
  name = "width-2",
  classes = "govuk-input--width-2",
  label = Label(
    content = Text("2 character width")
  )
))
