@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukDateInput: GovukDateInput)

@()
@govukDateInput(DateInput(
  id = Some("passport-issued"),
  namePrefix = Some("passport-issued"),
  items = Some(Seq(
    InputItem(
      classes = "govuk-input--width-2 govuk-input--error",
      name = "day",
      value = Some("6")
    ),
    InputItem(
      classes = "govuk-input--width-2 govuk-input--error",
      name = "month",
      value = Some("3")
    ),
    InputItem(
      classes = "govuk-input--width-4 govuk-input--error",
      name = "year",
      value = Some("2076")
    )
  )),
  hint = Some(Hint(content = Text("For example, 12 11 2007"))),
  errorMessage = Some(ErrorMessage(content = Text("The date your passport was issued must be in the past"))),
  fieldset = Some(Fieldset(
    legend = Some(
      Legend(
        content = Text("When was your passport issued?"),
        isPageHeading = true,
        classes = "govuk-fieldset__legend--xl"
      )
    )
  ))
))
