@import uk.gov.hmrc.govukfrontend.views.html.components._

@this()

@()
@GovukRadios(Radios(
  classes = "govuk-radios--inline",
  idPrefix = Some("changed-name"),
  name = "changed-name",
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      content = Text("Have you changed your name?"),
      isPageHeading = true,
      classes = "govuk-fieldset__legend--xl"
    ))
  )),
  hint = Some(Hint(
    content = Text("This includes changing your last name or spelling your name differently.")
  )),
  items = Seq(
    RadioItem(value = Some("yes"), content = Text("Yes")),
    RadioItem(value = Some("no"), content = Text("No"))
  )
))
