@import uk.gov.hmrc.govukfrontend.views.html.components._

@this()

@()
@GovukRadios(Radios(
  idPrefix = Some("sign-in"),
  name = "sign-in",
  fieldset = Some(Fieldset(
    legend = Some(Legend(
      content = Text("How do you want to sign in?"),
      isPageHeading = true,
      classes = "govuk-fieldset__legend--xl"
    ))
  )),
  hint = Some(Hint(
    content = Text("You’ll need an account to prove your identity and complete your Self Assessment.")
  )),
  items = Seq(
    RadioItem(
      value = Some("government-gateway"),
      content = Text("Sign in with Government Gateway"),
      label = Some(Label(classes = "govuk-label--s")),
      hint = Some(Hint(
        content = Text("You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before.")
      ))
    ),
    RadioItem(
      value = Some("govuk-verify"),
      content = Text("Sign in with GOV.UK Verify"),
      label = Some(Label(classes = "govuk-label--s")),
      hint = Some(Hint(
        content = Text("You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.")
      ))
    )
  )
))
